/* Анимация появления */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8e2f17f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    animation: fadeIn 1.2s ease-out; 
}

#gymForm {
    background: rgba(232, 212, 223, 0.61);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(145, 199, 164, 0.713);
    width: 100%;
    max-width: 400px;
}

input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #ddd;
    border-radius: 6px;
    background-color: #fafafa;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #1dd399;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1dd399;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
}

button:hover {
    background-color: #059669;
    transform: scale(1.02);
}

#result {
    width: 100%;
    max-width: 400px;
    display: none;
}